#jinja2: lstrip_blocks: True
# {{ project_name }}

[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
![Style](https://img.shields.io/badge/black-black?style=flat&color=black&label=Style)
[![Types - Mypy](https://img.shields.io/badge/Types-Mypy-blue.svg)](https://github.com/python/mypy)
![Python](https://img.shields.io/badge/v{{ python_versions[0] }}+-black?style=flat&color=FFFF00&label=Python)
[![pdm-managed](https://img.shields.io/badge/pdm-managed-blueviolet)](https://pdm.fming.dev)\
[![Actions status](https://github.com/{{ repository_namespace }}/{{ project_slug }}/workflows/CI/badge.svg)](https://github.com/{{ repository_namespace }}/{{ project_slug }}/actions)
{% if display_codecov_badge %}
[![codecov](https://codecov.io/gh/sourcegraph/conc/branch/main/graph/badge.svg?token={{ codecov_badge_token }})](https://codecov.io/gh/{{ repository_namespace }}/{{ project_slug }})
{% endif %}

_{{ project_description }}_
