<h1 align="center"><code>{{ project_name }}</code></h1>

<div align="center">
  <a href="https://github.com/{{ repository_namespace }}/{{ project_slug }}/actions">
    <img src="https://github.com/{{ repository_namespace }}/{{ project_slug }}/workflows/CI/badge.svg" alt="CI status">
  </a>
{%- if display_codecov_badge %}
  <a href="https://codecov.io/gh/{{ repository_namespace }}/{{ project_slug }}">
    <img src="https://codecov.io/gh/sourcegraph/conc/branch/main/graph/badge.svg?token={{ codecov_badge_token }})" alt="code coverage">
  </a>
{%- endif %}
  <a href="https://github.com/astral-sh/ruff">
    <img src="https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json" alt="ruff">
  </a>
  <a>
    <img src="https://img.shields.io/badge/black-black?style=flat&color=black&label=Style" alt="style">
  </a>
  <a href="https://github.com/python/mypy">
    <img src="https://img.shields.io/badge/Types-Mypy-blue.svg" alt="typecheck">
  </a>
  <a>
    <img src="https://img.shields.io/badge/v{{ python_versions[0] }}+-black?style=flat&color=FFFF00&label=Python" alt="python version">
  </a>
  <a href="https://pdm.fming.dev">
    <img src="https://img.shields.io/badge/pdm-managed-blueviolet" alt="pdm">
  </a>
</div>
<br>

{{ project_description }}
